* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
html, body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    background-color: #0174bd;
    color: white;
    font-size: larger;
}
main{
    flex: 1;
    background-color: #9b9b9b;
    color: rgb(255, 31, 31);
}
main > div{
    border: 1px solid green;
    width: 50%;
    height: 400px;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 5px;
}

footer{
    width: 100%;
    height: 30px;
    background-color: #adadad;
    color: rgb(29, 29, 29);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    overflow: hidden;
}